h1, h2, h3, h4, h5, h6 {
   color: #000;
   line-height: 1.25; }

h1 { font-size: 52px; }
h2 { font-size: 48px; }
h3 { font-size: 32px; text-transform: none; }
h4 { font-size: 24px; text-transform: none; }
h5 { font-size: 20px; text-transform: none; }
h6 { font-size: 18px; }
  
p { 
   font-size: 18px; 
   color: #000; }

/* text box margin */
.margin-ten {
   padding: 10px; }
.margin-twenty {
   padding: 20px; }
.margin-thirty {
   padding: 30px; }
.margin-forty {
   padding: 40px; }
.margin-fifty {
   padding: 50px; }

@media(max-width: 500px) {
.margin-ten {
   padding: 10px 5px;}
.margin-twenty {
   padding: 20px 5px;}
.margin-thirty {
   padding: 30px 5px;}
.margin-forty {
   padding: 40px 5px;}
.margin-fifty {
 padding: 50px 5px; }}

/* Top Header */
#topNav .theme-main-nav { 
   background-color: #000 !important; }
#topNavPlaceholder {
  height: 90px !important; }
#topNav .theme-main-nav .theme-nav {
   line-height: 45px; }
#topNav .theme-nav-style-dropdown > .theme-nav-item {
   border: none !important; }
#topNav .theme-nav-style-dropdown~.theme-nav-dropdown {
   border-bottom: 3px solid #FA5C07; }
 #topNav .theme-main-nav .theme-nav > .theme-nav-item > .theme-nav-link:not(x):hover {
   color: #FA5C07 !important; }
 #topNav .theme-nav-style-dropdown ~ .theme-nav-dropdown > .theme-nav-item > .theme-nav-link:not(x):hover {
   text-decoration: none;
   background: #FA5C07; }

.theme-search-wrapper {
   display: none !important; }

/* Logo */
.no-sub-nav #sn-site-logo {
   background-color: transparent !important;} 

/* Custom Image */  
.heroPhotoElement img {
   border: none !important; }

/* Social Media Icons */
.sn-social-media-list.lg {
   font-size: 35px;
   text-align: center; }

.sn-social-media-list.dark .sn-social-media-icon {
   background: #000;
   border-radius: 15% !important;}

/* Footer Privacy */
.snFooterContainer {
   max-width: 100% !important;
   background-color: #fff;
   color: #6d6d6d; }

#siteFooter {
   width: 70% !important;
   max-width: 1000px !important; }

.se-footer-link a {
   color: #fff !important; }

.se-footer-copyright a {
   color: #f15e22 !important; }

#siteContainer, #siteContainer #siteContainer.container-fluid {
   padding-bottom: 0px !important; }

#poweredByNGIN a:after {
   filter: grayscale(100%) brightness(300%); }

/* Font Awesome */
.fa, .far, .fas {
   text-align: center;
   width: 100%;
   color: #000; } 

/* Home Page */
.sn-call-to-action:before,
.sn-call-to-action:after {
   display: none; }

.call-to-action-header .sn-call-to-action-title {
   font-size: 40px !important; }

/* Our Story Page */
.cutline {
   text-align: right; }

/* Coaches Slider */
.sn-media-slider .slider.top-left-paging {
 margin: 0px !important; }

/* Page Header */
.displayBodyHeader-image{
   @include page-title-image-container;
   height: 300px !important;
   width: 100%;
   padding: 0 !important;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;}
  
#displayBodyHeader.displayBodyHeader-image span{
   text-transform: uppercase;
   font-weight: 700;
   padding: 30px;
   width: 100%;
   height: 100%;
   text-indent: 0;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #fff;
   font-size: calc(40px + (70 - 30) * ((100vw - 300px) / (2000 - 300)));
   text-align: center; }

/* Federation Logo - Page Footer */
.partners-container {
  padding: 0px 100px !important; }

.partners-logo .textBlockElement img {
  display: initial !important; }

@media(max-width: 650px) {
.partners-container {
  padding: 0px !important;}
  
.partners-logo .textBlockElement img {
  height: 50px !important;
  width: 50px !important; }}

/*** Button Link ***/
.linkElement h4 a {
   text-align: center;
   font-size: 18px;
   line-height: 1.3; }

.linkElement .goToLink:after,
.linkElement .emailLink:after {
   margin: 0 0 0 10px; }

/*** Home Page News & Events ***/
.margin-thirty .newsAggregatorElement .item {
  border-style: solid;
  border-top-width: 1px !important;
  border-image: none;  }

.newsAggregatorElement .item:nth-of-type(1) {
  border: none !important; }

.margin-twenty .commentsAndMore .readMore,
.margin-thirty .commentsAndMore .readMore {
  display: none; }

.collectorNews .teaser,
.condensed .teaser {
  text-transform: none; }

.margin-twenty .newsAggregatorElement .extendedOptions,
.margin-twenty .newsAggregatorElement .item,
.collectorNews .item {
  border-style: solid;
  border-top-width: 1px !important;
  border-image: none; }

.extendedOptions {
  text-align: center !important; }

.aggregatorElement .vevent ~ .vevent, .eventAggregatorElement .vevent ~ .vevent {
  border-style: none;
  border-image: none; }
 
.margin-twenty .eventAggregatorElement .extendedOptions {
  display: none; }

.margin-thirty .eventAggregatorElement .extendedOptions {
  border-top: 1px solid #ddd !important; }

/*** Line Divider ***/
.divider-line .hrElement {
  background: #ddd 1px !important;
  height: 1px !important; }

#siteContainer #displayBodyHeader:not(.displayBodyHeader-image) {
  padding-left: 30px !important;
  border-bottom: 2px solid #f15e22; }  

/*** Hide SportsEngine Header ***/
.nb-container, div#ngin-bar {
  height: 0px !important; }

.nb-sportngin,.nb-signin {
  display: none !important; }
