h1, h2, h3, h4, h5, h6 {
   color: #000;
   line-height: 1.25; }

h1 { font-size: 52px; }
h2 { font-size: 48px; }
h3 { font-size: 32px; text-transform: none; }
h4 { font-size: 24px; text-transform: none; }
h5 { font-size: 20px; text-transform: none; }
h6 { font-size: 18px; }
  
p { 
   font-size: 18px; 
   color: #000; }

/* Top Header */
#topNav .theme-main-nav { 
   background-color: #000 !important; }

#topNav .theme-main-nav .theme-nav > .theme-nav-item > .theme-nav-link {
    text-transform: uppercase; }

#topNavPlaceholder {
  height: 90px !important; }

#topNav .theme-main-nav .theme-nav {
   line-height: 50px; }

#topNav .theme-nav-style-dropdown > .theme-nav-item {
   border: none !important; }

#topNav .theme-sub-nav .theme-nav > .theme-nav-item > .theme-nav-link{
  color: #000; }

#topNav .theme-nav-style-dropdown~.theme-nav-dropdown {
   border-bottom: 3px solid #FA5C07; }

 #topNav .theme-main-nav .theme-nav > .theme-nav-item > .theme-nav-link:not(x):hover {
   color: #FA5C07 !important; }

 #topNav .theme-nav-style-dropdown ~ .theme-nav-dropdown > .theme-nav-item > .theme-nav-link:not(x):hover {
   text-decoration: none;
   background: #FA5C07; }

.theme-search-wrapper {
   display: none !important; }

/* Logo */
.no-sub-nav #sn-site-logo {
   background-color: transparent !important;} 

/* Custom Image */  
.heroPhotoElement img {
   border: none !important; }

/* Social Media Icons */
.sn-social-media-list.lg {
   font-size: 35px;
   text-align: center; }

.sn-social-media-list.dark .sn-social-media-icon {
   background: #000;
   border-radius: 15% !important;}

/* Footer Privacy */
.snFooterContainer {
   background-color: #0000;
   color: #6c6c6c; }

#siteFooter {
   width: 100% !important;
   max-width: 800px !important; }

.se-footer-link a {
   color: #000 !important; }

.se-footer-copyright a {
   color: #ddd !important; }

#siteContainer, #siteContainer #siteContainer.container-fluid {
   padding: 0px !important; }

#poweredByNGIN a:after {
   display: none; }

/* Home Page */
.sn-call-to-action:before,
.sn-call-to-action:after {
   display: none; }

.call-to-action-header .sn-call-to-action-title {
   font-size: 40px; }
   
.call-to-action-header-alt .sn-call-to-action-title {   
   font-size: calc(30px + (70 - 15) * ((100vw - 300px) / (2000 - 300)));
   padding: 0px 50px;
   margin: 30px; }

/* Our Story Page */
.cutline {
   text-align: right; }

/* Coaches Slider */
.sn-media-slider .slider.top-left-paging {
 margin: 0px !important; }

/* Page Header */
.displayBodyHeader-image{
   @include page-title-image-container;
   height: 300px !important;
   width: 100%;
   padding: 0 !important;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;}
  
#displayBodyHeader.displayBodyHeader-image span{
   text-transform: uppercase;
   font-weight: 700;
   padding: 30px;
   width: 100%;
   height: 100%;
   text-indent: 0;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #fff;
   font-size: calc(40px + (70 - 30) * ((100vw - 300px) / (2000 - 300)));
   text-align: center; }

/*** Button Link ***/
.linkElement h4 a {
   text-align: center;
   font-size: 18px;
   line-height: 1.3; }

.linkElement .goToLink:after,
.linkElement .emailLink:after {
   margin: 0 0 0 10px;
   color: #f15e22;
   content: "\f061"; }

/*** Home Page News & Events ***/
.margin-thirty .newsAggregatorElement .item {
  border-style: solid;
  border-top-width: 1px !important;
  border-image: none;  }

.newsAggregatorElement .item:nth-of-type(1) {
  border: none !important; }

.margin-twenty .commentsAndMore .readMore,
.margin-thirty .commentsAndMore .readMore {
  display: none; }

.collectorNews .teaser,
.condensed .teaser {
  text-transform: none; }

.margin-twenty .newsAggregatorElement .extendedOptions,
.margin-twenty .newsAggregatorElement .item,
.collectorNews .item {
  border-style: solid;
  border-top-width: 1px !important;
  border-image: none; }

.extendedOptions {
  text-align: center !important; }

.aggregatorElement .vevent ~ .vevent, .eventAggregatorElement .vevent ~ .vevent {
  border-style: none;
  border-image: none; }
 
.margin-twenty .eventAggregatorElement .extendedOptions {
  display: none; }

.margin-thirty .eventAggregatorElement .extendedOptions {
  border-top: 1px solid #ddd !important; }

/*** Line Divider ***/
.divider-line .hrElement {
  background: #ddd 1px !important;
  height: 1px !important; }

#siteContainer #displayBodyHeader:not(.displayBodyHeader-image) {
  padding-left: 30px !important;
  border-bottom: 2px solid #f15e22; }  

html.nav-fixed .site-background {
  bottom: 0px; }

/*** remove sportsengine logo from top bar ***/
[class*=nb-sportngin]:not(.nb-sportngin--mobile){
  display: none !important; }

.aggHeader,
.eventAggregatorElement .aggHeader {
  display: block;
  max-width: 100%;
  text-align: left; }

.news-agg-no-img .newsAggregatorElement .condensed > a img,
.news-agg-no-img .newsAggregatorElement .condensed > a {
  display: none;
  height: 0px;
  width: 0px; }

.bottomOptions .pageOptions {
  padding-bottom: 20px; }

#siteContainer, #siteContainer #siteContainer.container-fluid {
    max-width: 1200px;
    background: #fff; }

/*** News CTA ***/
.news-cta .sn-call-to-action .sn-call-to-action-overlay {
    background-color: #000c;
    vertical-align: bottom;
    position: relative;
    height: 50px;
    top: -50px;
    padding: 0px;  }

.news-cta .sn-call-to-action .sn-call-to-action-subtitle {
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px; }
