
 /* Top Header */
 #topNav .theme-main-nav { 
    background-color: #000 !important; }
 
 #topNav .theme-main-nav .theme-nav > .theme-nav-item > .theme-nav-link {
    text-transform: uppercase; }
 
 #topNavPlaceholder {
   height: 90px !important; }
 
 #topNav .theme-main-nav .theme-nav {
    line-height: 50px; }
 
 #topNav .theme-nav-style-dropdown > .theme-nav-item {
    border: none !important; }
 
 #topNav .theme-sub-nav .theme-nav > .theme-nav-item > .theme-nav-link{
   color: #000; }
 
 #topNav .theme-nav-style-dropdown~.theme-nav-dropdown {
    border-bottom: 3px solid #FA5C07; }
 
  #topNav .theme-main-nav .theme-nav > .theme-nav-item > .theme-nav-link:not(x):hover {
    color: #FA5C07 !important; }
 
  #topNav .theme-nav-style-dropdown ~ .theme-nav-dropdown > .theme-nav-item > .theme-nav-link:not(x):hover {
    text-decoration: none;
    background: #FA5C07; }
 
 .theme-search-wrapper {
    display: none !important; }
 
 /* Logo */
 .no-sub-nav #sn-site-logo {
    background-color: transparent !important;} 
 
 /* Footer Privacy */
 .snFooterContainer {
    background-color: #0000;
    color: #6c6c6c; }
 
 #siteFooter {
    width: 100% !important;
    max-width: 800px !important;
    padding: 20px !important; }
 
 .se-footer-link a {
    color: #000 !important; }
 
 .se-footer-copyright a {
    color: #777 !important; }
 
 #siteContainer, #siteContainer #siteContainer.container-fluid {
    padding: 0px !important; }
 
 #poweredByNGIN a:after {
    display: none; }
 
 html.nav-fixed .site-background {
   bottom: 0px; }
 
 /*** remove sportsengine logo from top bar ***/
 [class*=nb-sportngin]:not(.nb-sportngin--mobile){
   display: none !important; }

/* Remove frame from photo page elements */
.heroPhotoElement img {
    border: 0px; }

#panelTwo > div.yieldPageContent > div.layoutContainer.row.orange {
    width: calc(100vw - 0px);
    background: #f15e22;
    box-sizing: border-box;
    margin-left: calc(-1*(100vw - 100%)/2);
    padding: 0px calc((100vw - 100%)/2); }

/*** CTA ***/
.sn-call-to-action:before,
.sn-call-to-action:after {
    display: none; }
