/* Top Header */
#topNav .theme-main-nav { 
   background-color: #000 !important; }

#topNav .theme-main-nav .theme-nav > .theme-nav-item > .theme-nav-link {
    text-transform: uppercase;
   font-weight: 700; }

#topNavPlaceholder {
  height: 90px !important; }

#topNav .theme-main-nav .theme-nav {
   line-height: 50px; }

#topNav .theme-nav-style-dropdown > .theme-nav-item {
   border: none !important; }

#topNav .theme-sub-nav .theme-nav > .theme-nav-item > .theme-nav-link{
  color: #000; }

#topNav .theme-nav-style-dropdown~.theme-nav-dropdown {
   border-bottom: 3px solid #e00025; }

 #topNav .theme-main-nav .theme-nav > .theme-nav-item > .theme-nav-link:not(x):hover {
   color: #e00025 !important; }

 #topNav .theme-nav-style-dropdown ~ .theme-nav-dropdown > .theme-nav-item > .theme-nav-link:not(x):hover {
   text-decoration: none;
   background: #e00025; }

.theme-search-wrapper {
   display: none !important; }

#topNav .theme-main-nav .theme-nav > .theme-nav-item.selected > .theme-nav-link {
  background-color: transparent;
  color: #e00025; }

/* Footer Privacy */
.snFooterContainer {
   background-color: #fff !important;
   color: #b1b1b1; }

#siteFooter {
   width: 100% !important;
   max-width: 800px !important; }

.se-footer-link a {
   color: #fff !important; }

.se-footer-copyright a {
   color: #636363 !important; }

#siteContainer, #siteContainer #siteContainer.container-fluid {
   padding: 0px !important; }

#poweredByNGIN a:after {
   display: none; }

/*** Mobile Menu ***/

#PageSearchBoxMobileNav.theme-search-box {
  display: none; }

.theme-nav-style-slide .theme-nav-item {
  border-color: #000; }

/*** Img Border **/    
.heroPhotoElement img {
        border: 0px; }

#panelTwo > div.yieldPageContent > div.layoutContainer.row.texture {
    width: calc(100vw - 0px);
    background: url(https://cdn4.sportngin.com/attachments/photo/9aab-161741547/RelentlessSC2-2_large.png);
    background-size: cover;
    box-sizing: border-box;
    margin-left: calc(-1*(100vw - 100%)/2);
    padding: 50px calc((100vw - 100%)/2);
    margin-top: -50px;
    margin-bottom: 50px;
